@import "../src/common/colors.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
a{
    text-decoration: none;
    color: whitesmoke;

}
 body{
     background: gray;
 }

 .container{
     margin: 0px 40px;
 }